mixin createProduct(product)
    .col-md-4
        .card
            img(src=`/img/${product.imageUrl}` alt=`${product.description}`).card-img-top
            .card-body
                h4.card-title
                    a(href=`/products/${product.id}`) #{product.name}
                                
                small.text-muted
                    i.fas.fa-lira-sign #{product.price}
                            
            .card-footer.text-center                

                a(href=`/products/${product.id}`).btn.btn-outline-primary.btn-sm Details 

                form(action='/cart' method='POST')
                    input(type='hidden' name='productId' value=`${product.id}`)
                    button(type='submit').btn.btn-outline-primary.btn-sm.ml-3 Add to Cart 
                     