extends ../layouts/main-layout.pug

block content 
    if (action !== 'undefined' && action === 'delete')
        div.alert.alert-danger The product has been deleted.

    if (action !== 'undefined' && action === 'edit')
        div.alert.alert-success The product has been updated.
    
    if products.length > 0
        table.table.table-bordered
            thead
                tr
                    th(style="width:100px;") Image
                    th Product Name
                    th(style="width:150px;") Price
                    th
                    th(style="width:133px;")
            tbody
                each product in products
                    tr
                        td
                            img(src=`/img/${product.imageUrl}` width='80')
                        td #{product.name}
                        td #{product.price} TL
                        td #{product.userId.name}
                        td 
                            a.btn.btn-primary.btn-sm.mr-2(href=`/admin/products/${product._id}`) Edit

                            form(action='/admin/delete-product' method='POST')
                                input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                input(type='hidden' name='productid' value=`${product._id}`)
                                button(type='submit').btn.btn-danger.btn-sm Delete
    else
        h1 No Products                        